<ol class="post-list">
  {{! This makes it so we will do this HTML for each post we have }}
  {{#each posts as |post|}}
    <li>
      {{> post-info post }}
    </li>
    {{! end of each }}
  {{/each}}
</ol>